
#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;

}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    list-style: none;

}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;;
    height: 400px;

}

a.control_prev, a.control_next {
    position: absolute;
    z-index: 999;
    display: block;
    margin-top: 150px;
    width: 75px;
    height: 75px;

}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;

}

.img-in-slider {

    margin-top: 30px;
    height: 300px;
    width: 300px;
}

#sliderr {
    position: absolute;
    left: 0;
    right: 0;

    margin: auto;
}

.text_in_slider {
    margin-top: 100px;
    margin-left: 70px;
    position: absolute;
    width: 40%;
    height: 100%;
    line-height: 1.8em;
    font-family: Georgia, sans-serif;
    font-weight: 500;
}

.header_in_slider {
    margin-top: 50px;
    margin-left: 70px;
    position: absolute;
    width: 40%;
    height: 10%;
    line-height: 1.8em;
    font-family: Georgia, sans-serif;
    font-weight: 500;
}

.href_in_slider {
    line-height: 1.8em;
    font-family: Georgia, sans-serif;
    font-weight: 500;
    position: absolute;
    margin-top: 350px;
}

#footer p {
    color: #ffffff;
    font-family: Georgia, sans-serif;
    font-weight: 900;
    font-size: 15px;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
    font-family: Georgia, sans-serif;
    font-weight: 900;
    font-size: 15px;
}